name: mkdocs cicd
on:

  # workflow manual
  workflow_dispatch:

# workflow otomatis
#  push:
#    branches:
#      - master
#      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ~/.cache
          restore-keys: |
            mkdocs-material-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs
          pip install mkdocs-material
          pip install mkdocs-literate-nav
          pip install mkdocs-git-revision-date-localized-plugin
          pip install mkdocs-rss-plugin
          pip install mkdocs-git-authors-plugin
          pip install mkdocs-git-committers-plugin
          pip install mkdocs-glightbox
        # tambahkan plugin lain kalau ada

      - name: Deploy
        run: mkdocs gh-deploy --force